



<section class="grey page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <h1>About Us</h1>
            </div>

        </div>
    </div>
</section>
<section class="white section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="media-element">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="upload/medium-shot-students-working-with-laptop.jpg" alt="" class="img-responsive">
                            </div>
                            <div class="item">
                                <img src="upload/team-leader-supervising-it-workers-server-room-maintaining-databases_482257-113749.jpg" alt="" class="img-responsive">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="fa fa-angle-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="fa fa-angle-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content-widget">
                    <div class="widget-title">
                        <h4>Welcome to NonnyE-LearningPlus</h4>
                        <hr>
                    </div>
                    <p>Welcome to NonnyE-Learning Plus, a leading online platform dedicated to empowering individuals with the knowledge and skills to excel in the world of software development. At NonnyE-Learning Plus, we believe that the ability to code is a superpower that can unlock endless possibilities and shape the future....</p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="check">
                                <li>Professional Instructors</li>
                                <li>High technology classes</li>
                                <li>Very affordable</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="check">
                                <li>24/7 Online Course</li>
                                <li>Good learning enviroment</li>
                                <li>Online Chat with Support</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="invis1">
        <div class="row">
            <div class="col-md-12">
                <div class="content-widget">
                    <div class="widget-title">
                        <h4>Why Choose Us</h4>
                        <hr>
                    </div>
                    <div class="accordion-widget">
                        <div class="accordion-toggle-2">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour">
                                                <h3>Why NonnyE-LearningPLUS ? <i class="indicator fa fa-plus"></i></h3>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>Expert Instructors: Learn from experienced professionals who are passionate about teaching and helping students succeed..</p><br />
                                            <p>Hands-On Learning: Gain practical, hands-on experience through interactive projects and coding exercises...</p><br />
                                            <p>Flexible Learning: Access our courses from anywhere, at any time, and learn at your own pace...</p><br />
                                            <p>Community Support: Join a vibrant community of like-minded learners, where you can collaborate, share ideas, and grow together....</p><br />
                                            <p>Career Opportunities: Prepare yourself for a rewarding career in software development with the skills and knowledge you acquire at NonnyE-Learning Plus....</p>



                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive">
                                                <h3>Join Us Today! ? <i class="indicator fa fa-minus"></i></h3>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>
                                                Whether you're a complete beginner or an experienced coder looking to expand your skills, NonnyE-Learning Plus has something for everyone. Take the first step towards a successful career in tech
                                                and join our community of passionate learners today..
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix">
                                                <h3>WOur Mission<i class="indicator fa fa-plus"></i></h3>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="collapseSix" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>
                                                Our mission at NonnyE-Learning Plus is to make quality programming education accessible
                                                to all aspiring developers, regardless of their background or experience level. We aim to provide a supportive and engaging learning environment where students can thrive and realize their
                                                full potential in the field of technology..
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
@* <section class="white section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h4>Meet Our Team</h4>
                    <p>We build NonnyE-Learning PLUS with professional and love</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="content-widget">
                    <div class="team-members row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <img src="upload/xteam_01.jpg.pagespeed.ic.uNKwi9Xmie.jpg" alt="" class="img-responsive wow fadeInUp">
                                <div class="team-hover-content">
                                    <h5>Ifeanyi Ikemefuna</h5>
                                    <span>Project Lead</span>
                                    <p>Planning, task allocation, progress tracking. .Net Master/MVC Coach.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <img src="upload/xteam_02.jpg.pagespeed.ic.Foo3PN64df.jpg" alt="" class="img-responsive wow fadeInUp">
                                <div class="team-hover-content">
                                    <h5>Stanley Ikemefuna</h5>
                                    <span>Software developer</span>
                                    <p>Collaborative coding, continuous integration, writing and testing code.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <img src="upload/xteam_03.jpg.pagespeed.ic.Mw22RnI1eL.jpg" alt="" class="img-responsive wow fadeInUp">
                                <div class="team-hover-content">
                                    <h5>Rachael Nonso</h5>
                                    <span>Network Manager</span>
                                    <p>Interfaces between the business stakeholders and development team to translate business needs into technical requirements..</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="team">
                                <img src="upload/xteam_04.jpg.pagespeed.ic.equz9NTtM1.jpg" alt="" class="img-responsive wow fadeInUp">
                                <div class="team-hover-content">
                                    <h5>Rita Ikemefuna</h5>
                                    <span>Social Manager</span>
                                    <p>Focused on the end-user’s experience and interaction with the product, crafting interfaces that are not only visually appealing but intuitive to use..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 *@