@model NonnyE_Learning.Business.ViewModel.LoginModel

@{
    Layout = "Account/_AccountLayout";
    var returnUrl = ViewData["ReturnUrl"] as string;
    var showEmailConfirmationModal = TempData["ShowEmailConfirmationModal"] as bool? ?? false;
    var showForgotPasswordModal = TempData["ShowForgotPasswordModal"] as bool? ?? false;


}

<partial name="_Notification" />

<div id="wrapper">
    <div class="container">
        <div class="row login-wrapper">
            <div class="col-md-6 col-md-offset-3">
                <div class="logo logo-center">
                    <a href="/Home"><img src="~/images/NonnyLogo.png" alt="Description" width="320" height="40"></a>
                </div>
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <a href="#" class="active" id="login-form-link">Login</a>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form asp-action="Login" method="post" role="form" style="display: block;">
                                    <input type="hidden" name="returnUrl" value="@returnUrl" />

                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <input asp-for="Email" class="form-control" placeholder="Email address" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Password" class="form-control" placeholder="Password" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group text-center">
                                        <input asp-for="RememberMe" />
                                        <label asp-for="RememberMe">
                                            @Html.DisplayNameFor(m => m.RememberMe)
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="form-control btn btn-default">Login Account</button>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-center">
                                            <a asp-action="ForgetPassword" asp-controller="Account" class="forgot-password">Forgot Password?</a>
                                            <a asp-action="Register" asp-controller="Account" class="create-account">Create account</a>
                                        </div>
                                    </div>
                                </form>

                                <div class="form-group text-center">
                                    <form asp-controller="Account" asp-action="ExternalLogin" method="post">
                                        <input type="hidden" name="provider" value="Google" />
                                        <input type="hidden" name="returnUrl" value="/" />
                                        <button type="submit" class="btn btn-danger">
                                            <i class="fa fa-google"></i> Login with Google
                                        </button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- ✅ Modal for Email Confirmation -->
                <div class="modal fade" id="emailConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="emailConfirmationModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-success text-white">
                                <h5 class="modal-title" id="emailConfirmationModalLabel">Email Confirmation Sent</h5>
                            </div>
                            <div class="modal-body">
                                <p>Please check your email to confirm your account before logging in.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="forgetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="forgetPasswordModalLabel">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header bg-success text-white">
                                <h5 class="modal-title" id="forgetPasswordModalLabel">Password reset Sent</h5>
                            </div>
                            <div class="modal-body">
                                <p>Please check your email to rest your password.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
                            </div>
                        </div>
                    </div>
                </div>


                @* ✅ Show Modal Script *@
                @if (showEmailConfirmationModal)
                {
                    <script>
                        $(document).ready(function () {
                            $('#emailConfirmationModal').modal('show');
                        });
                    </script>
                }

                @if (showForgotPasswordModal)
                {
                    <script>
                        $(document).ready(function () {
                            $('#forgetPasswordModal').modal('show');
                        });
                    </script>
                }

            </div>
        </div>
    </div>
</div>