@model NonnyE_Learning.Business.ViewModel.ResetPasswordModel

@{
    Layout = "Account/_AccountLayout";
}
<partial name="_Notification" />

<div id="wrapper">
    <div class="container">
        <div class="row login-wrapper">
            <div class="col-md-6 col-md-offset-3">
                <div class="logo logo-center">
                    <a href="/Home"><img src="~/images/NonnyLogo.png" alt="Description" width="320" height="40"></a>
                </div>
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <a href="#" class="active" id="login-form-link">Reset Password</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form asp-action="ResetPassword" method="post" role="form" style="display: block;">
                                    <input type="hidden" asp-for="UserId" />
                                    <input type="hidden" asp-for="Token" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <input asp-for="NewPassword" class="form-control" placeholder="New Password" />
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="form-control btn btn-default">Reset Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
