@using Microsoft.AspNetCore.Identity
@using NonnyE_Learning.Data.Models
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> UserManager


<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <p><i class="fa fa-graduation-cap"></i> Best E-learning site.</p>
            </div>
            <div class="col-md-6 text-right">
                <ul class="list-inline">
                    @if (signInManager.IsSignedIn(User))
                    {
                        var currentUser = await UserManager.GetUserAsync(User);
                        var firstName = currentUser?.FirstName ?? User.Identity.Name;

                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-user"></i> Hello, @firstName</a>
                            <div class="dropdown-menu">
                                <form method="post" asp-action="Logout" asp-controller="Account" id="logoutForm">
                                    <div class="form-title">
                                        <h4>Account</h4>
                                        <hr>
                                    </div>
                                    <button type="submit" class="btn btn-block btn-primary">Logout</button>
                                </form>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>