
<section class="grey section">
    <div class="container">
        <div class="row">
            <div id="content" class="col-md-12 col-sm-12 col-xs-12">
                <div class="blog-wrapper">
                </div>
                <div class="blog-wrapper">
                    <div class="blog-desc notfound text-center">
                        <h3 class="text-danger">ACCESS DENIED </h3>
                        <p class="lead">You didnot have permisssio to view this resources, back to the site's homepage with the button below <br> and contact the administrator for your access.</p>
                        <a asp-action="Index" asp-controller="Home" class="btn btn-default">Back to homepage</a>
                        <hr class="invis">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>